body{
    font-family: 'Roboto', sans-serif;
    min-height: 900px;
    background: url();
    background-position: center;
    background-size: cover;
   
}
.container-fluid{

}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


main{
  margin-top: 100px;
    min-height: 600px;
  background: #EAE2B6 ;
}


/* create info icon */
main .info .fa-info-circle{
font-size: 3.5em;
color: red;
}
main .info .fa-info-circle:hover{
  transform: scale(1.3,1.3)
   }


main .row .box img{
    overflow: hidden;
    width: 60%;
    height: auto;
    border-radius: 14px 14px 0px 0px;
   min-height: 160px;
   border-radius: 20px 20px 0px 0px;
   /* min-height: 114px; */
  }

  main .row .box p {
    font-size: 1.6em;
    color: #17A2B8;
    font-weight: lighter;
    font-weight: 700;
  }

.strip{
background-color: #7264145b;
}

  .strip .container{
    background: #A3A847 ;
    min-height: 1400px;
width: 60%;
  }

  .strip .container p span .a .u{
    /* font-size: 11.9em !important ; */
   /* ka */
   border: 44px solid black !important;
  }

  .strip .container .row .img_box{
    overflow: hidden;
    /* border-radius: 20px 20px 0px 0px; */

  }


  .strip .container .row .img_box img{
    /* border-radius: 20px 20px 0px 0px; */
    width: 100%;
    height: 100%;
    overflow: hidden;
  /* border: white solid 3px; */
  padding: 0 !important;
  max-width: 414px;
  max-height: 450px;
 
  }

  .strip .container .row .description_box p{
   font-size: 1.0em;
   font-weight: 400;
   text-justify: newspaper;
   
  }
.strip .container button{
  margin: auto;
 
}

