.root {
    color: #EAE2B6;
    color: #7F8B52;
    color: #A3A847;
    color: #558776;
}

body {
    background: #EAE2B6;
    color: white;
    
   
 
}

 h4 .title{
     text-shadow: 2px 2px 2px #CE5937 !important;
}

.main {

    border-radius: 16px 16px 0px 0px;
    background-image:  url(https://i.ibb.co/M2qRHWY/pexels-evan-white-12002429.jpg);
    background-position: center;
    background-size: cover;
}



.main .btn{
    /* background: yellow; */
   /* position: relative; */
   
  
text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.main button:hover{
   
}

button .rest{
    background: red;
}