.root {
  color: #eae2b6;
  color: #7f8b52;
  color: #a3a847;
  color: #558776;
}

body {
  /* background: #EAE2B6; */
  background: #eae2b6;
}

h4 .title {
  text-shadow: 2px 2px 2px #ce5937 !important;
}

.main {
  padding: 0;
  margin: 0;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
  color: white;
  border-radius: 16px 16px 0px 0px;
  background-image: url(https://i.ibb.co/M2qRHWY/pexels-evan-white-12002429.jpg);
  background-position: center;
  background-size: cover;
}

.main .play {
  margin-bottom: 150px;
}

.main .reset {
  margin-bottom: 350px !important;
}

button .rest {
  background: red;
}

@media (max-width: 768px) {
  footer {
    height: 110px;
    margin-top: 32px;
  }
}
